<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 ATOS ORIGIN INTEGRATION.
 
     
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Tristan FAURE (ATOS ORIGIN INTEGRATION) tristan.faure@atosorigin.com - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.doc2model.doc2model.presentation.Doc2modelModelWizardID"
            name="%_UI_Doc2modelModelWizard_label"
            class="org.eclipse.emf.doc2model.doc2model.presentation.Doc2modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Doc2modelModelFile.gif">
         <description>%_UI_Doc2modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.doc2model.doc2model.presentation.Doc2modelEditorID"
            name="%_UI_Doc2modelEditor_label"
            icon="icons/full/obj16/Doc2modelModelFile.gif"
            extensions="doc2model"
            class="org.eclipse.emf.doc2model.doc2model.presentation.Doc2modelEditor"
            contributorClass="org.eclipse.emf.doc2model.doc2model.presentation.Doc2modelActionBarContributor">
      </editor>
   </extension>

</plugin>
