<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated marker -->
      <package
            uri="platform:/plugin/eu.modelwriter.marker.core/model/marker.ecore"
            class="Marker.MarkerPackage"
            genModel="model/marker.genmodel"/>
   </extension>

</plugin>
