<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.emf.doc2model.ui.import"
            name="Document 2 Model">
      </category>
      <wizard
            category="org.eclipse.emf.doc2model.ui.import"
            class="org.eclipse.emf.doc2model.ui.wizard.Doc2ModelImportWizard"
            id="org.eclipse.emf.doc2model.ui.importDocument"
            name="Create a Model From a Document">
      </wizard>
   </extension>

</plugin>
