<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2015 UNIT Information Technologies R&D Ltd
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Ferhat Erata - initial API and implementation
        H. Emre Kirmizi - initial API and implementation
        Serhat Celik - initial API and implementation
        U. Anil Ozturk - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eu.modelwriter.traceability.core.persistence -->
      <package
            uri="file:/C:/Users/3/Desktop/eu.modelwriter.traceability.core.persistence/eu.modelwriter.traceability.core.persistence.xsd"
            class="eu.modelwriter.traceability.core.persistence.persistencePackage"
            genModel="model/persistence.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated eu.modelwriter.traceability.core.persistence -->
      <parser
            type="persistence"
            class="eu.modelwriter.traceability.core.persistence.util.persistenceResourceFactoryImpl"/>
   </extension>

</plugin>
