<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- Startup -->
   <extension point="org.eclipse.ui.startup">
      <startup 
            class="eu.modelwriter.marker.startup.Startup">
      </startup>
   </extension>
<!-- Runtime Adapters -->
<!-- Drop Actions -->
<!--
   <extension point="org.eclipse.ui.dropActions">
      <action
            class="eu.modelwriter.marker.model.Ecore2TextEditorDropActionDelegate"
            id="eu.modelwriter.model.ecore2texteditordropaction">
      </action>
      </extension>
    -->
</plugin>
