<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mapping -->
      <package
            uri="http://www.modelwriter.eu/mapping"
            class="org.eclipse.mylyn.docs.intent.mapping.MappingPackage"
            genModel="model/mapping.genmodel"/>
   </extension>

</plugin>
