<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Validation Code Editor"
            default="true"
            extensions="core"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="eu.modelwriter.traceability.validation.editor.base.ValidationEditor"
            id="eu.modelwriter.traceability.validation.editor.base.ValidationEditor">
      </editor>
   </extension>

</plugin>
