<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.doc2model.engine.matchingUriHandler">
      <Matcher
            scheme="style"
            uriHandler="org.eclipse.emf.doc2model.style.handler.StyleHandler">
      </Matcher>
   </extension>

</plugin>
