<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AlloyXSDFile -->
      <package
            uri="file:/C:/Users/3/Desktop/Bilgi/AlloyXSDFile.xsd"
            class="eu.modelwriter.alloyxmlapi.AlloyXSDFilePackage"
            genModel="model/AlloyXSDFile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated AlloyXSDFile -->
      <parser
            type="alloyxsdfile"
            class="eu.modelwriter.alloyxmlapi.util.AlloyXSDFileResourceFactoryImpl"/>
   </extension>

</plugin>
