<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.doc2model.documents.factory">
      <factory
            class="org.eclipse.emf.doc2model.documents.openxml.docx.DocxFactory"
            extension="docx">
      </factory>
      <factory
            class="org.eclipse.emf.doc2model.documents.openxml.xlsx.XLSXFactory"
            extension="xls">
      </factory>
   </extension>

</plugin>
