<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/*******************************************************************************
 * Copyright (c) 2015 UNIT Information Technologies R&D
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    A. Furkan Tanriverdi (UNIT) - initial API and implementation
 *******************************************************************************/

-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="DocumentModelEditorAdvisorApplication">
      <!-- @generated DocumentModel -->
      <application>
         <run class="DocModel.presentation.DocumentModelEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated DocumentModel -->
      <perspective
            name="%_UI_Perspective_label"
            class="DocModel.presentation.DocumentModelEditorAdvisor$Perspective"
            id="DocModel.presentation.DocumentModelEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated DocumentModel -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="DocModel.presentation.DocumentModelEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="DocModel.presentation.DocumentModelEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated DocumentModel -->
      <key
            commandId="DocModel.presentation.DocumentModelEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="DocModel.presentation.DocumentModelEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated DocumentModel -->
      <actionSet
            label="%_UI_DocumentModelEditorAdvisor_ActionSet_label"
            visible="true"
            id="DocumentModelEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="DocModel.presentation.DocumentModelEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="DocModel.presentation.DocumentModelEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="DocModel.presentation.DocumentModelEditorAdvisorOpenURICommand"
               class="DocModel.presentation.DocumentModelEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="DocModel.presentation.DocumentModelEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="DocModel.presentation.DocumentModelEditorAdvisorOpenCommand"
               class="DocModel.presentation.DocumentModelEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="DocModel.presentation.DocumentModelEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated DocumentModel -->
      <actionSet
            label="%_UI_DocModelModelWizard_ActionSet_label"
            visible="true"
            id="DocModel.presentation.DocModelActionBarContributorActionSet">
         <action
               label="%_UI_DocModelModelWizard_label"
               class="DocModel.presentation.DocModelActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="DocModel.presentation.DocModelActionBarContributorNewAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated DocumentModel -->
      <editor
            id="DocModel.presentation.DocModelEditorID"
            name="%_UI_DocModelEditor_label"
            icon="icons/full/obj16/DocModelModelFile.gif"
            extensions="docmodel"
            class="DocModel.presentation.DocModelEditor"
            contributorClass="DocModel.presentation.DocModelActionBarContributor">
      </editor>
   </extension>

</plugin>
