<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- View Definitions -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.modelwriter.model.category"
            name="ModelWriter">
      </category>
      <view
            category="eu.modelwriter.model.category"
            class="eu.modelwriter.model.samples.SampleView"
            id="eu.modelwriter.model.samples.SampleView"
            name="Decorator Sample View"
            restorable="true">
      </view>
   </extension>
   
   <!-- Decorator Definitions -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/sample_decorator.gif"
            id="eu.modelwriter.model.decorators.decorator.greenball"
            label="Resource Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="images/Red.gif"
            id="eu.modelwriter.model.decorators.decorator.red"
            label="Demo Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.jdt.core.IField">
               </objectClass>
               <objectClass
                     name="java.lang.String">
               </objectClass>
               <objectClass
                    name="org.eclipse.emf.ecore.impl.EClassImpl">
               </objectClass>
            </or>
         </enablement>
      </decorator>
            <decorator
                  adaptable="true"
                  class="eu.modelwriter.model.decorators.EcoreModelDecorator"
                  id="eu.modelwriter.model.decorators.decorator.ecore.red"
                  label="Ecore Model Decorator"
                  lightweight="true"
                  location="BOTTOM_RIGHT"
                  state="true">
         <enablement>
            <objectClass
                 name="org.eclipse.emf.ecore.impl.EClassImpl">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
