<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="eu.modelwriter.kodkod.editor.RelationModelEditor"
           default="true"
           extensions="kodkod"
           id="kodkod.relationmodeleditor"
           name="RelationModelEditor">
     </editor>
  </extension>
</plugin>
