<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="matchingUriHandler" name="Matching URI Handler" schema="schema/matchingUriHandler.exsd"/>
   <extension
         point="org.eclipse.emf.doc2model.engine.variable">
      <Variable
            variableName="document_name"
            variableResolver="org.eclipse.emf.doc2model.engine.variables.DocumentNameVariable">
      </Variable>
   </extension>
   <extension-point id="variable" name="Variable" schema="schema/variable.exsd"/>

</plugin>
