head	1.1;
access;
symbols;
locks; strict;
comment	@# @;


1.1
date	2010.03.02.22.34.52;	author tfaure;	state Exp;
branches;
next	;
commitid	7a6d4b8d92874567;


desc
@@


1.1
log
@doc2model engine first commit
it understands a part of the action language and run a transformation from documents to models
@
text
@<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="matchingUriHandler" name="Matching URI Handler" schema="schema/matchingUriHandler.exsd"/>
   <extension
         point="org.eclipse.emf.doc2model.engine.variable">
      <Variable
            variableName="document_name"
            variableResolver="org.eclipse.emf.doc2model.engine.variables.DocumentNameVariable">
      </Variable>
   </extension>
   <extension-point id="variable" name="Variable" schema="schema/variable.exsd"/>

</plugin>
@
