head	1.1;
access;
symbols;
locks; strict;
comment	@# @;


1.1
date	2010.03.02.22.31.38;	author tfaure;	state Exp;
branches;
next	;
commitid	763b4b8d91c74567;


desc
@@


1.1
log
@first commit for doc2model api : opendocument
implementation of IDocument for odt and ods
@
text
@<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.doc2model.documents.factory">
      <factory
            class="org.eclipse.emf.doc2model.documents.opendocument.odt.ODTFactory"
            extension="odt">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.doc2model.documents.factory">
      <factory
            class="org.eclipse.emf.doc2model.documents.opendocument.ods.ODSFactory"
            extension="ods">
      </factory>
   </extension>

</plugin>
@
