<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.doc2model.documents.factory">
      <factory
            class="org.eclipse.emf.doc2model.documents.opendocument.odt.ODTFactory"
            extension="odt">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.doc2model.documents.factory">
      <factory
            class="org.eclipse.emf.doc2model.documents.opendocument.ods.ODSFactory"
            extension="ods">
      </factory>
   </extension>

</plugin>
