<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.core.expressions.definitions">
  <definition id="when.markdowneditor.is.active">
   <with variable="activeEditorId">
         <equals value="org.eclipse.mylyn.wikitext.ui.editor.markupEditor"/>
      </with>
  </definition>
  <definition
        id="when.ecoreeditor.is.active">
        <not>
	        <with variable="activeEditorId">
		        <or>
		        	<equals value="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
		        	<equals value="org.eclipse.emf.ecore.presentation.ReflectiveEditorID"/>
		        	<equals value="org.eclipse.emf.genericEditor"/>
		        </or>
	     	</with>
        </not>
  </definition>
 </extension>

  <!-- binding keys for ModelWriter actions -->
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="eu.modelwriter.marker.command.mark"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+8">
    </key>
    <key
          commandId="eu.modelwriter.marker.command.markall"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+9">
    </key>
    <key
          commandId="eu.modelwriter.marker.command.map"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+0">
    </key>
    <key
          commandId="eu.modelwriter.marker.command.delete"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+4">
    </key>
    <key
          commandId="eu.modelwriter.marker.command.deleteall"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+5">
    </key>
<!--<key
          commandId="eu.modelwriter.marker.command.countforfile"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+6">
    </key>-->
 </extension>
  
<!-- test menu for key bindings -->
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
          <menu
               label="ModelWriter"
               icon="platform:/plugin/eu.modelwriter.marker/icons/Menu.gif"
               id="eu.modelwriter.marker.command.popupmenu">
             <command
                   commandId="eu.modelwriter.marker.command.mark"
                   label="Mark"
                   icon="platform:/plugin/eu.modelwriter.marker/icons/Black.gif"
                   style="push"
                   tooltip="Marks selected item">
             </command>
              <command
                   commandId="eu.modelwriter.marker.command.addtypetomarker"
                   label="Add Type To Marker"
                   style="push"
                   tooltip="Adding type to selected marker">
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.markwithtype"
                   label="Mark with Type"
                   style="push"
                   tooltip="Marks with type selected item">
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.markall"
                   label="Mark All"
                   style="push"
                   tooltip="Marks selected item for all same text">
			    <visibleWhen>
			     <reference definitionId="when.ecoreeditor.is.active"/>
			    </visibleWhen>
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.map"
                   icon="platform:/plugin/eu.modelwriter.marker/icons/Red.gif"
                   label="Map Marker"
                   style="push"
                   tooltip="Maps selected marker with other markers">
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.delete"
                   label="Delete Marker"
                   style="push"
                   tooltip="Deletes selected item">
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.deleteall"
                   label="Delete All Markers"
                   style="push"
                   tooltip="Deletes selected item for all same text">
			    <visibleWhen>
			     <reference definitionId="when.ecoreeditor.is.active"/>
			    </visibleWhen>
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.countforresource"
                   label="Count Markers in Resource"
                   tooltip="Counts all markers in the resource">
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.countforfile"
                   label="Count Markers in File"
                   tooltip="Counts all markers in the file">
             </command>
             <command
                   commandId="eu.modelwriter.marker.command.markallinworkspace"
                   label="Mark All in Workspace"
                   style="push">
                <visibleWhen>
                   <reference
                         definitionId="when.ecoreeditor.is.active">
                   </reference>
                </visibleWhen>
             </command>
             <command 
             	commandId="eu.modelwriter.writer.markers.createreqifspecfrommarkdown"
			    label="Creating RegIf Spec From Selected MarkDown Text" style="push">
			    <visibleWhen>
			     <reference definitionId="when.markdowneditor.is.active"/>
			    </visibleWhen>
			   </command>
          </menu>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:org.eclipse.ui.main.menu">
       <!--<toolbar
             id="eu.modelwriter.marker.command.alloytoolbarmenu"
             label="Add Alloy">
          <command
                commandId="eu.modelwriter.marker.command.parsealloy"
                icon="platform:/plugin/eu.modelwriter.marker/icons/alloylogo.gif"
                style="push">
          </command>
       </toolbar>-->
       <menu
             label="ModelWriter">
          <command
                commandId="eu.modelwriter.marker.command.parsealloy"
                icon="platform:/plugin/eu.modelwriter.marker/icons/alloylogo.gif"
                style="push">
          </command>
          <command
                commandId="eu.modelwriter.marker.command.markervisibility"
                style="push">
          </command>
          <command
                commandId="org.eclipse.ui.window.preferences"
                label="Preferences"
                style="push">
             <parameter
                   name="preferencePageId"
                   value="eu.modelwriter.marker.ui.internal.preferences.markertype">
             </parameter>
          </command>
       </menu>
    </menuContribution>

    <menuContribution
		locationURI="toolbar:eu.modelwriter.marker.ui.views.targetview">
		<command 
			commandId="eu.modelwriter.marker.command.targetviewrefresh"
			icon="platform:/plugin/eu.modelwriter.marker/icons/refresh.gif"
			style="push">
		</command>
	</menuContribution>
	
	<menuContribution
		locationURI="toolbar:eu.modelwriter.marker.ui.views.sourceview">
		<command 
			commandId="eu.modelwriter.marker.command.sourceviewrefresh"
			icon="platform:/plugin/eu.modelwriter.marker/icons/refresh.gif"
			style="push">
		</command>
	</menuContribution>
	
	<menuContribution
		locationURI="toolbar:eu.modelwriter.model.samples.SampleView">
		<command 
			commandId="eu.modelwriter.marker.command.masterviewrefresh"
			icon="platform:/plugin/eu.modelwriter.marker/icons/refresh.gif"
			style="push">
		</command>
	</menuContribution>

 </extension>
 
 <!--  handlers for key bindings --> 
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="eu.modelwriter.marker.command.MarkHandler"
          commandId="eu.modelwriter.marker.command.mark">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.AddTypeToMarkerHandler"
          commandId="eu.modelwriter.marker.command.addtypetomarker">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.MarkWithTypeHandler"
          commandId="eu.modelwriter.marker.command.markwithtype">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.MarkAllHandler"
          commandId="eu.modelwriter.marker.command.markall">
       <enabledWhen>
          <reference
                definitionId="when.ecoreeditor.is.active">
          </reference>
       </enabledWhen>
    </handler>
    <handler
          class="eu.modelwriter.marker.command.MappingHandler"
          commandId="eu.modelwriter.marker.command.map">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.DeleteHandler"
          commandId="eu.modelwriter.marker.command.delete">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.DeleteAllHandler"
          commandId="eu.modelwriter.marker.command.deleteall">
       <enabledWhen>
          <reference
                definitionId="when.ecoreeditor.is.active">
          </reference>
       </enabledWhen>
    </handler>
    <handler
	      class="eu.modelwriter.marker.command.CountMarkersInFileHandler"
          commandId="eu.modelwriter.marker.command.countforfile">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.CountMarkersInResourceHandler"
          commandId="eu.modelwriter.marker.command.countforresource">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.MarkAllInWorkspaceHandler"
          commandId="eu.modelwriter.marker.command.markallinworkspace">
       <enabledWhen>
          <reference
                definitionId="when.ecoreeditor.is.active">
          </reference>
       </enabledWhen>
    </handler>
    <handler
          commandId="eu.modelwriter.writer.markers.createreqifspecfrommarkdown">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.AlloyParseHandler"
          commandId="eu.modelwriter.marker.command.parsealloy">
    </handler>
    <handler
          class="eu.modelwriter.marker.command.MarkerVisibilityHandler"
          commandId="eu.modelwriter.marker.command.markervisibility">
    </handler>
    <handler
    	  class="eu.modelwriter.marker.command.TargetViewRefreshHandler"
    	  commandId="eu.modelwriter.marker.command.targetviewrefresh">
    </handler>
	<handler
    	  class="eu.modelwriter.marker.command.SourceViewRefreshHandler"
    	  commandId="eu.modelwriter.marker.command.sourceviewrefresh">
    </handler>
    <handler
    	  class="eu.modelwriter.marker.command.MasterViewRefreshHandler"
    	  commandId="eu.modelwriter.marker.command.masterviewrefresh">
    </handler>
    <!--
    <handler
        class="eu.modelwriter.marker.action.CreateReqIfSpecFromMarkDownAction"
        commandId="eu.modelwriter.writer.markers.createreqifspecfrommarkdown">
      <enabledWhen>
       <reference definitionId="when.markdowneditor.is.active"/>
      </enabledWhen>
    </handler>-->
 </extension>
 
 <!-- commands for binding keys -->
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="eu.modelwriter.marker.command.mark"
          name="Mark">
    </command>
    <command
          id="eu.modelwriter.marker.command.addtypetomarker"
          name="Add Type To Mark">
    </command>
    <command
          id="eu.modelwriter.marker.command.markwithtype"
          name="Mark with Type">
    </command>
    <command
          id="eu.modelwriter.marker.command.markall"
          name="Mark All">
    </command>
    <command
          id="eu.modelwriter.marker.command.map"
          name="Map Marker">
    </command>
    <command
          id="eu.modelwriter.marker.command.delete"
          name="Delete Marker">
    </command>
    <command
          id="eu.modelwriter.marker.command.deleteall"
          name="Delete All Markers">
    </command>
    <command
          id="eu.modelwriter.marker.command.countforfile"
          name="Count Markers in File">
    </command>
    <command
          description="Counts all markers in the resource"
          id="eu.modelwriter.marker.command.countforresource"
          name="Count Markers in Resource">
    </command>
    <command
          id="eu.modelwriter.marker.command.markallinworkspace"
          name="Mark All in Workspace">
    </command>
    <command name="CreateReqIfSpec"
		  description="Creating RegIf Spec From Selected MarkDown Text"
		  id="eu.modelwriter.writer.markers.createreqifspecfrommarkdown">
	  </command>
    <command
          description="Parses &apos;*.als&apos; files"
          id="eu.modelwriter.marker.command.parsealloy"
          name="Parse Alloy">
    </command>
    <command
          id="eu.modelwriter.marker.command.markervisibility"
          name="Set Marker Visibility">
    </command>
    <command
    	  id="eu.modelwriter.marker.command.targetviewrefresh"
    	  name="Target View Refresh">
    </command>
	<command
    	  id="eu.modelwriter.marker.command.sourceviewrefresh"
    	  name="Source View Refresh">
    </command>
    <command
    	  id="eu.modelwriter.marker.command.masterviewrefresh"
    	  name="Master View Refresh">
    </command>
    	
 </extension> 
</plugin>
