<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2015 UNIT Information Technologies R&D Ltd
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Ferhat Erata - initial API and implementation
        H. Emre Kirmizi - initial API and implementation
        Serhat Celik - initial API and implementation
        U. Anil Ozturk - initial API and implementation
 -->

<plugin>
<!--define ModelWriter Mapping View -->
 <extension point="org.eclipse.ui.views">
    <category 
       id="eu.modelwriter"
       name="ModelWriter">
    </category>
    <view
        category="eu.modelwriter"
        class="eu.modelwriter.marker.ui.internal.views.masterview.MasterView"
        icon="platform:/plugin/eu.modelwriter.marker/icons/Menu.gif"
        id="eu.modelwriter.marker.ui.views.masterview"
        name="ModelWriter Master View"
        restorable="true">
    </view>
    <view
         category="eu.modelwriter"
         class="eu.modelwriter.marker.ui.internal.views.mappingview.TargetView"
         icon="platform:/plugin/eu.modelwriter.marker/icons/Menu.gif"
         id="eu.modelwriter.marker.ui.views.targetview"
         name="ModelWriter Target Mapping View"
         restorable="true">
    </view>
    <view
         category="eu.modelwriter"
         class="eu.modelwriter.marker.ui.internal.views.mappingview.SourceView"
         icon="platform:/plugin/eu.modelwriter.marker/icons/Menu.gif"
         id="eu.modelwriter.marker.ui.views.sourceview"
         name="ModelWriter Source Mapping View"
         restorable="true">
    </view>
    <view
          category="eu.modelwriter"
          class="eu.modelwriter.marker.ui.internal.views.visualizationview.Visualization"
          icon="platform:/plugin/eu.modelwriter.marker/icons/Menu.gif"
          id="eu.modelwriter.marker.ui.views.visualizationview"
          name="ModelWriter Visualization View"
          restorable="true">
    </view>
 </extension>
 
 <!--define the hyperlinkDetectors -->
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
	    <hyperlinkDetector
	         activate="true"
	         class="eu.modelwriter.marker.ui.internal.hyperlinkdetectors.TargetViewHyperlinkDetector"
	         description="Directly link to Target View"
	         id="eu.modelwriter.marker.ui.internal.hyperlinkdetectors.targetview"
	         name="Target View Hyperlink Detector"
	         targetId="org.eclipse.ui.DefaultTextEditor">
	    </hyperlinkDetector>
	    <hyperlinkDetector
	         activate="true"
	         class="eu.modelwriter.marker.ui.internal.hyperlinkdetectors.SourceViewHyperlinkDetector"
	         description="Directly link to Source View"
	         id="eu.modelwriter.marker.ui.internal.hyperlinkdetectors.sourceview"
	         name="Source View Hyperlink Detector"
	         targetId="org.eclipse.ui.DefaultTextEditor">
	    </hyperlinkDetector>
	    <hyperlinkDetector
	         activate="true"
	         class="eu.modelwriter.marker.ui.internal.hyperlinkdetectors.MarkerMappingActionHyperlinkDetector"
	         description="Opens the Mapping Wizard"
	         id="eu.modelwriter.marker.ui.internal.hyperlinkdetectors.mappingwizardaction"
	         name="Marker Mapping Action Hyperlink Detector"
	         targetId="org.eclipse.ui.DefaultTextEditor">
	    </hyperlinkDetector>
	 </extension>
	 
 <!--define the Preferences Page for markers -->
 	<extension point="org.eclipse.ui.preferencePages">
		<page
	        category="eu.modelwriter.marker.ui.internal.preferences"
	        class="eu.modelwriter.marker.ui.internal.preferences.MarkerTypePreferencePage"
	        id="eu.modelwriter.marker.ui.internal.preferences.markertype"
	        name="Marker Type">
 		 </page>
  		<page
	        class="eu.modelwriter.marker.ui.internal.preferences.ModelWriterPreferencePage"
	        id="eu.modelwriter.marker.ui.internal.preferences"
	        name="ModelWriter">
  		</page>
	</extension>
	
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.internal.resources.Marker"
           class="eu.modelwriter.marker.ui.internal.views.propertiesview.MarkerPropertyAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="eu.modelwriter.ui.newexample"
           name="ModelWriter"
           parentCategory="org.eclipse.ui.Examples">
     </category>
     <wizard
           category="org.eclipse.ui.Examples/eu.modelwriter.ui.newexample"
           class="eu.modelwriter.marker.ui.internal.wizards.examplewizard.NewModelWriterExampleWizard"
           id="eu.modelwriter.ui.examplewizard"
           name="ModelWriter Example Wizard"
           project="true">
        <description>
           Creates the Model Writer example projects.
        </description>
        <selection
              class="org.eclipse.core.resources.IResource">
        </selection>
     </wizard>
  </extension>
</plugin>
