<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Defines my own custom marker, use the marker view panel to see them when they are created-->
	<extension point="org.eclipse.core.resources.markers"
	      id="eu.modelwriter.marker.marking"
	      name="ModelWriter Marking Marker">
	      <super type="org.eclipse.core.resources.marker"/>
       	  <super type="org.eclipse.core.resources.textmarker"/>
	      <persistent value="true"/>
	</extension> 
	<extension point="org.eclipse.core.resources.markers"
	      id="eu.modelwriter.marker.mapping"
	      name="ModelWriter Mapping Marker">
	      <super type="eu.modelwriter.marker.marking"/>
	      <persistent value="true"/>
	</extension>
	
<!-- Links the annotation spec to the marker -->
	<extension
       id="modelwritermappingannotationtype"
       name="ModelWriterMappingAnnotationType"
       point="org.eclipse.ui.editors.annotationTypes">
      	<type
      		super="org.eclipse.ui.workbench.texteditor.info"
			name="eu.modelwriter.marker.annotation.marking"
			markerType="eu.modelwriter.marker.mapping"/>
			
	</extension>
 <extension
       id="modelwritermarkingannotationtype"
       name="ModelWriterMarkingAnnotationType"
       point="org.eclipse.ui.editors.annotationTypes">
    <type
          markerType="eu.modelwriter.marker.marking"
          name="eu.modelwriter.marker.annotation.mapping"
          super="org.eclipse.ui.workbench.texteditor.info">
    </type>
 </extension>
	
<!-- Annotation specification:- describes what the annotation will look like and its properties -->
   <extension 
   		point="org.eclipse.ui.editors.markerAnnotationSpecification"
	 	id="modelwritermappingannotationspecification"
	 	name="ModelWriterMappingAnnotation">
	 <!--symbolicIcon="bookmark"-->
  	 <specification
  	 	  presentationLayer="10"
          annotationType="eu.modelwriter.marker.annotation.mapping"
          label="ModelWriter Mapping Annotation"
		  overviewRulerPreferenceKey="eu.modelwriter.marker.annotation.mapping.overviewRuler"
		  overviewRulerPreferenceValue="true"
		  colorPreferenceKey="eu.modelwriter.marker.annotation.mapping.colorPreference"
		  colorPreferenceValue="255,0,0"
		  textPreferenceKey="eu.modelwriter.marker.annotation.mapping.textPreference"
		  textPreferenceValue="true"
		  verticalRulerPreferenceKey="eu.modelwriter.marker.annotation.mapping.verticalRuler"
		  verticalRulerPreferenceValue="true"
		  textStylePreferenceKey="eu.modelwriter.marker.annotation.mapping.textStyle"
		  textStylePreferenceValue="BOX"
		  icon="icons/Red.gif">
     </specification>
    </extension> 
    <extension
       point="org.eclipse.ui.editors.markerAnnotationSpecification"
       id="modelwritermarkingannotationspecification"
       name="ModelWriterMarkingAnnotation">
    <specification
          annotationType="eu.modelwriter.marker.annotation.marking"
          colorPreferenceKey="eu.modelwriter.marker.annotation.marking.colorPreference"
          colorPreferenceValue="0,0,255"
          icon="icons/Black.gif"
          label="ModelWriter Marking Annotation"
          overviewRulerPreferenceKey="eu.modelwriter.marker.annotation.marking.overviewRuler"
          overviewRulerPreferenceValue="true"
          presentationLayer="10"
          textPreferenceKey="eu.modelwriter.marker.annotation.marking.textPreference"
          textPreferenceValue="true"
          textStylePreferenceKey="eu.modelwriter.marker.annotation.marking.textStyle"
          textStylePreferenceValue="DASHED_BOX"
          verticalRulerPreferenceKey="eu.modelwriter.marker.annotation.marking.verticalRuler"
          verticalRulerPreferenceValue="true">
    </specification>
 </extension>
	
 
<!-- define the marker updater class-->
	<extension point="org.eclipse.ui.editors.markerUpdaters">
		<updater
			id="eu.modelwriter.writer.markers.MarkerUpdater"
			class="eu.modelwriter.marker.internal.MarkerUpdater"
			markerType="eu.modelwriter.marker.marking">
		</updater>
	</extension>
    
<!-- Popup menu to add a menu to right click of a java file in the text editor--> 
	<extension point="org.eclipse.ui.popupMenus"> 
	   	<objectContribution 
	      	objectClass="org.eclipse.ui.IEditorInput"
	      	nameFilter="*.*"
	   		id="Writer.contribution.editor"> 
	     <menu
               label="ModelWriter"
               path="additions"
               icon="icons/Menu.gif"
               id="Writer.menu">
			<separator
                  name="group">
            </separator>
         </menu>
	      	<action
	            class="eu.modelwriter.marker.action.CountMarkersForFileAction"
	            id="eu.modelwriter.writer.markers.filecount.marker"
	            label="Count Markers"
	            menubarPath="Writer.menu/group">
	      	</action> 
	      	<action
	            class="eu.modelwriter.marker.action.DeleteAllMarkerAction"
	            id="eu.modelwriter.writer.markers.deleteall.marker"
	            label="Delete All Markers"
	            menubarPath="Writer.menu/group">
	      	</action> 
	      	<action
              class="eu.modelwriter.marker.action.DeleteMarkerAction"
              id="eu.modelwriter.writer.markers.delete.marker"
              label="Delete Marker"
              menubarPath="Writer.menu/group">
	      	</action> 
	      	<action
              class="eu.modelwriter.marker.ui.wizards.internal.MarkerMappingAction"
              icon="icons/Link.gif"
              id="eu.modelwriter.writer.markers.mapping.marker"
              label="Map Marker"
              menubarPath="Writer.menu/group">
	      	</action>
	      	<action
	            class="eu.modelwriter.marker.action.CreateAllMarkerAction"
	            id="eu.modelwriter.writer.markers.createall.marker"
	            label="Mark All"
	            enablesFor="1"
	            menubarPath="Writer.menu/group">
	      	</action>
	      	<action
              class="eu.modelwriter.marker.action.CreateMarkerAction"
              enablesFor="1"
              icon="icons/Black.gif"
              id="eu.modelwriter.writer.markers.create.marker"
              label="Mark"
              menubarPath="Writer.menu/group">
	      	</action>
	   	</objectContribution>
	</extension>
 
	
<!-- Popup menu to add a menu to right click of a java file in the package explorer--> 	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution 
			id="Writer.contribution.packageexplorer"
	 		objectClass="org.eclipse.core.resources.IFile">
         	<action
               label="Count Markers"
               class="eu.modelwriter.marker.action.CountMarkersForFilesAction"
               menubarPath="additions"
               id="eu.modelwriter.writer.markers.foldercount.marker">
         	</action>
		</objectContribution>
	</extension>
  
<!--define the decorator -->
	<extension point="org.eclipse.ui.decorators">
		<decorator
		    id="eu.modelwriter.writer.markers.filedecorator"
		    label="ModelWriter Marker Decorator"
		    state="true"
		    class= "eu.modelwriter.marker.internal.FileDecorator"
		    adaptable="true"
			lightweight="true">
			<enablement>
				<objectClass name="org.eclipse.core.resources.IResource"/>      
			</enablement>
		</decorator>
	</extension>

 <!--define the hyperlinkDetectors -->
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="eu.modelwriter.marker.text.internal.hyperlinkdetectors.TargetViewHyperlinkDetector"
          description="Directly link to Target View"
          id="eu.modelwriter.writer.markers.targetview.hyperlinkdetector"
          name="Target View Hyperlink Detector"
          targetId="org.eclipse.ui.DefaultTextEditor">
    </hyperlinkDetector>
    <hyperlinkDetector
          activate="true"
          class="eu.modelwriter.marker.text.internal.hyperlinkdetectors.SourceViewHyperlinkDetector"
          description="Directly link to Source View"
          id="eu.modelwriter.writer.markers.sourceview.hyperlinkdetector"
          name="Source View Hyperlink Detector"
          targetId="org.eclipse.ui.DefaultTextEditor">
    </hyperlinkDetector>
 </extension>
 
 <!--define ModelWriter Mapping View -->
 <extension
       point="org.eclipse.ui.views">
    <category 
       id="eu.modelwriter"
       name="ModelWriter">
    </category>
    <view 
    	class="eu.modelwriter.marker.ui.views.MarkerView"
    	icon="icons/Menu.gif"
    	category="eu.modelwriter"
    	id="eu.modelwriter.marker.ui.views.markerview"
    	name="Marker View">
    </view>
    <view
          category="eu.modelwriter"
          class="eu.modelwriter.marker.ui.views.TargetView"
          icon="icons/Menu.gif"
          id="eu.modelwriter.marker.ui.views.targetview"
          name="ModelWriter Target Mapping View"
          restorable="true">
    </view>
    <view
          category="eu.modelwriter"
          class="eu.modelwriter.marker.ui.views.SourceView"
          icon="icons/Menu.gif"
          id="eu.modelwriter.marker.ui.views.sourceview"
          name="ModelWriter Source Mapping View"
          restorable="true">
    </view>
 </extension>
 
 <!--define Marker Support -->
 <extension
       point="org.eclipse.ui.ide.markerSupport">
       <markerContentGenerator
             defaultMarkerGrouping=" "
             id="eu.modelwriter.marker.ui.views.markerViewContentGenerator"
             name="Marker View Marker Generator">
	   <markerFieldReference 
	   	visible="true"
	         id="eu.modelwriter.marker.ui.internal.views.markerview.id"/> 
	   <markerFieldReference 
	         id="eu.modelwriter.marker.ui.internal.views.markerview.length"/> 
	   <markerFieldReference 
	         id="eu.modelwriter.marker.ui.internal.views.markerview.linenumber"/> 
	   <markerFieldReference 
	         id="eu.modelwriter.marker.ui.internal.views.markerview.offset"/> 
	   <markerFieldReference 
	         id="eu.modelwriter.marker.ui.internal.views.markerview.path"/> 
	   <markerFieldReference 
	         id="eu.modelwriter.marker.ui.internal.views.markerview.text"/> 
    <markerTypeReference
          id="eu.modelwriter.marker.marking">
    </markerTypeReference>
       </markerContentGenerator>
       <markerField
             class="eu.modelwriter.marker.ui.internal.views.markerview.MarkerViewIDField"
             icon="icons/Annotation.gif"
             id="eu.modelwriter.marker.ui.internal.views.markerview.id"
             name="ID">
       </markerField>
       <markerField
             class="eu.modelwriter.marker.ui.internal.views.markerview.MarkerViewLengthField"
             icon="icons/Annotation.gif"
             id="eu.modelwriter.marker.ui.internal.views.markerview.length"
             name="Length">
       </markerField>
       <markerField
             class="eu.modelwriter.marker.ui.internal.views.markerview.MarkerViewLineNumberField"
             icon="icons/Annotation.gif"
             id="eu.modelwriter.marker.ui.internal.views.markerview.linenumber"
             name="Line Number">
       </markerField>
       <markerField
             class="eu.modelwriter.marker.ui.internal.views.markerview.MarkerViewOffsetField"
             icon="icons/Annotation.gif"
             id="eu.modelwriter.marker.ui.internal.views.markerview.offset"
             name="Offset">
       </markerField>
       <markerField
             class="eu.modelwriter.marker.ui.internal.views.markerview.MarkerViewPathField"
             icon="icons/Annotation.gif"
             id="eu.modelwriter.marker.ui.internal.views.markerview.path"
             name="Path">
       </markerField>
       <markerField
             class="eu.modelwriter.marker.ui.internal.views.markerview.MarkerViewTextField"
             icon="icons/Annotation.gif"
             id="eu.modelwriter.marker.ui.internal.views.markerview.text"
             name="Text">
       </markerField>
 </extension>


</plugin>
