<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Defines my own custom marker, use the marker view panel to see them when they are created-->
	<extension point="org.eclipse.core.resources.markers"
	      id="eu.modelwriter.writer.markers.marker"
	      name="ModelWriter Marker">
	      <super type="org.eclipse.core.resources.problemmarker"/>
	      <super type="org.eclipse.core.resources.marker"/>
	      <attribute name="eu.modelwriter.writer.markers.id" />
	      <attribute name="eu.modelwriter.writer.markers.mappedelement" />
	      <persistent value="true"/>
	</extension> 
    
<!-- Popup menu to add a menu to right click of a java file in the text editor--> 
	<extension point="org.eclipse.ui.popupMenus"> 
	   	<objectContribution 
	      	objectClass="org.eclipse.ui.IEditorInput"
	      	nameFilter="*.*"
	   		id="Writer.contribution.editor"> 
	     <menu
               label="ModelWriter"
               path="additions"
               icon="icons/Menu.gif"
               id="Writer.menu">
			<separator
                  name="group">
            </separator>
         </menu>
	      	<action
	            class="eu.modelwriter.writer.markers.popup.actions.CountMarkersForFileAction"
	            id="eu.modelwriter.writer.markers.filecount.marker"
	            label="Count Markers"
	            menubarPath="Writer.menu/group">
	      	</action> 
	      	<action
	            class="eu.modelwriter.writer.markers.popup.actions.DeleteAllMarkerAction"
	            id="eu.modelwriter.writer.markers.deleteall.marker"
	            label="Delete All Markers"
	            menubarPath="Writer.menu/group">
	      	</action> 
	      	<action
	            class="eu.modelwriter.writer.markers.popup.actions.DeleteMarkerAction"
	            id="eu.modelwriter.writer.markers.delete.marker"
	            label="Delete Marker"
	            menubarPath="Writer.menu/group">
	      	</action> 
	      	<action
	      		class="eu.modelwriter.writer.markers.wizards.internal.MarkerMappingAction"
	      		id="eu.modelwriter.writer.markers.mapping.marker"
	      		label="Map Marker"
	      		menubarPath="Writer.menu/group">
	      	</action>
	      	<action
	            class="eu.modelwriter.writer.markers.popup.actions.CreateAllMarkerAction"
	            id="eu.modelwriter.writer.markers.createall.marker"
	            label="Mark All"
	            enablesFor="1"
	            menubarPath="Writer.menu/group">
	      	</action>
	      	<action
	            class="eu.modelwriter.writer.markers.popup.actions.CreateMarkerAction"
	            id="eu.modelwriter.writer.markers.create.marker"
	            label="Mark"
	            enablesFor="1"
	            menubarPath="Writer.menu/group"
	            >
	      	</action>
	   	</objectContribution>
	</extension>
 
	
<!-- Popup menu to add a menu to right click of a java file in the package explorer--> 	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution 
			id="Writer.contribution.packageexplorer"
	 		objectClass="org.eclipse.core.resources.IFile">
         	<action
               label="Count Markers"
               class="eu.modelwriter.writer.markers.popup.actions.CountMarkersForFilesAction"
               menubarPath="additions"
               id="eu.modelwriter.writer.markers.foldercount.marker">
         	</action>
		</objectContribution>
	</extension>

<!-- Annotation specification:- describes what the annotation will look like and its properties -->
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
	 id="modelwriterannotationspecification"
	 name="ModelWriterAnnotation">
	 <!--symbolicIcon="bookmark"-->
	 <specification
		  annotationType="eu.modelwriter.writer.markers.annotation"
		  label="ModelWriter Annotation"
		  overviewRulerPreferenceKey="clruler"
		  overviewRulerPreferenceValue="true"
		  colorPreferenceKey="clcolor"
		  colorPreferenceValue="0,0,255"
		  textPreferenceKey="cltext"
		  textPreferenceValue="true"
		  verticalRulerPreferenceKey="clvertical"
		  verticalRulerPreferenceValue="true"
		  textStylePreferenceKey="clstyle"
		  textStylePreferenceValue="BOX"
		  icon="icons/Annotation.gif"
		  >
	 </specification>
   </extension>

<!-- Links the annotation spec to the marker -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
      	<type
			markerSeverity="0"
			super="org.eclipse.ui.workbench.texteditor.info"
			name="eu.modelwriter.writer.markers.annotation"
			markerType="eu.modelwriter.writer.markers.marker"/>
	</extension>
   
  <!-- define the marker updater class-->
	<extension point="org.eclipse.ui.editors.markerUpdaters">
		<updater
			id="eu.modelwriter.writer.markers.MarkerUpdater"
			class="eu.modelwriter.writer.markers.internal.MarkerUpdater"
			markerType="eu.modelwriter.writer.markers.marker">
		</updater>
	</extension>
  
<!--define the decorator -->
	<extension point="org.eclipse.ui.decorators">
		<decorator
		    id="eu.modelwriter.writer.markers.filedecorator"
		    label="ModelWriter Marker Decorator"
		    state="true"
		    class= "eu.modelwriter.writer.markers.internal.FileDecorator"
		    adaptable="true"
			lightweight="true">
			<enablement>
				<objectClass name="org.eclipse.core.resources.IResource"/>      
			</enablement>
		</decorator>
	</extension>

 <!--define the hyperlinkDetectors -->
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="eu.modelwriter.writer.markers.hyperlinkdetectors.TargetViewHyperlinkDetector"
          description="Directly link to Target View"
          id="eu.modelwriter.writer.markers.targetview.hyperlinkdetector"
          name="Target View Hyperlink Detector"
          targetId="org.eclipse.ui.DefaultTextEditor">
    </hyperlinkDetector>
    <hyperlinkDetector
          activate="true"
          class="eu.modelwriter.writer.markers.hyperlinkdetectors.SourceViewHyperlinkDetector"
          description="Directly link to Source View"
          id="eu.modelwriter.writer.markers.sourceview.hyperlinkdetector"
          name="Source View Hyperlink Detector"
          targetId="org.eclipse.ui.DefaultTextEditor">
    </hyperlinkDetector>
 </extension>
 
 <!--define ModelWriter Mapping View -->
 <extension
       point="org.eclipse.ui.views">
    <category 
       id="eu.modelwriter"
       name="ModelWriter">
    </category>
    <view
          category="eu.modelwriter"
          class="eu.modelwriter.writer.markers.views.internal.TargetView"
          id="eu.modelwriter.writer.markers.views.targetview"
          name="ModelWriter Target Mapping View"
          restorable="true">
    </view>
    <view
          category="eu.modelwriter"
          class="eu.modelwriter.writer.markers.views.internal.SourceView"
          id="eu.modelwriter.writer.markers.views.sourceview"
          name="ModelWriter Source Mapping View"
          restorable="true">
    </view>
 </extension>

</plugin>
