<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/12/03 09:55:52 eperico Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="doc2modelMapping.presentation.Doc2modelMappingModelWizardID"
            name="%_UI_Doc2modelMappingModelWizard_label"
            class="doc2modelMapping.presentation.Doc2modelMappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Doc2modelMappingModelFile.gif">
         <description>%_UI_Doc2modelMappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="doc2modelMapping.presentation.Doc2modelMappingEditorID"
            name="%_UI_Doc2modelMappingEditor_label"
            icon="icons/full/obj16/Doc2modelMappingModelFile.gif"
            extensions="doc2modelmapping"
            class="doc2modelMapping.presentation.Doc2modelMappingEditor"
            contributorClass="doc2modelMapping.presentation.Doc2modelMappingActionBarContributor">
      </editor>
   </extension>

</plugin>
