<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="eu.modelwriter.specification.editor.MetaModelEditor"
           default="true"
           contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
           extensions="mw,als"
           icon="platform:/plugin/eu.modelwriter.marker/icons/mw_file.gif"
           id="eu.modelwriter.specification.editor.Meta"
           name="AlloyEditor">
     </editor>
  </extension>
  
  <extension point="org.eclipse.ui.editors.annotationTypes">
      	<type
			name="eu.modelwriter.specification.editor.parseerrorannotation"/>
		<type
         	name="eu.modelwriter.specification.editor.reasonerrorannotation"/>
  </extension>
  
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="eu.modelwriter.specification.editor.parseerrorannotation"
            colorPreferenceKey="mm.annotation.colorPreference"
            colorPreferenceValue="255,0,0"
            includeOnPreferencePage="true"
            label="Meta Model Parse Error Annotation"
            overviewRulerPreferenceKey="mm.annotation.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            symbolicIcon="error"
            textPreferenceKey="mm.annotation.textPreference"
            textPreferenceValue="true"
            textStylePreferenceKey="mm.annotation.textStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="mm.annotation.verticalRuler"
            verticalRulerPreferenceValue="true">
	  </specification>
	  <specification
         annotationType="eu.modelwriter.specification.editor.reasonerrorannotation"
         colorPreferenceKey="mm.annotation.colorPreference"
         colorPreferenceValue="255,0,0"
         includeOnPreferencePage="true"
         label="Meta Model Reason Error Annotation"
         overviewRulerPreferenceKey="mm.annotation.overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="1"
         symbolicIcon="error"
         textPreferenceKey="mm.annotation.textPreference"
         textPreferenceValue="true"
         textStylePreferenceKey="mm.annotation.textStyle"
         textStylePreferenceValue="SQUIGGLES"
         verticalRulerPreferenceKey="mm.annotation.verticalRuler"
         verticalRulerPreferenceValue="true">
	  </specification>
    </extension>
    
</plugin>
